# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ledger_db
POSTGRES_PORT=5432

# Connection string for local run (dotnet run)
ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=ledger_db;Username=postgres;Password=postgres