# === .NET Build Outputs ===
bin/
obj/

# === JetBrains Rider Settings ===
.idea/
*.sln.iml

**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.DotSettings.user

bin/
obj/
publish/

.env
*.env.*
appsettings.Development.json
